<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.permission">

    <permission
        android:name="com.zh.permission.auth"
        android:description="@string/app_name"
        android:label="start private view"
        android:protectionLevel="signature" />

    <!--    dangerous:动态权限申请，（荣耀10直接就给了权限，不需要申请，华为p30 需要动态申请）-->
    <!--    signature:必须是相同签名的才能访问。-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PrivateActivity"
            android:exported="true"
            android:permission="com.zh.permission.auth"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>